@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Lilita+One&display=swap');

:root {
    --cambiarColor: black;
}

body {
    display: flex;
    justify-content: center;
    background: #FFA502;
    gap: 60px;
    font-family: 'Fredoka', sans-serif;
}

h1 {
    color: white;
    font-family: 'Lilita One', cursive;
    font-weight: 800;
    font-size: 70px;
    margin: 10px 0px;
}

/*Creacion del lienzo y sus cuadros*/

.contenedor {
    display: flex;
    padding: 0px;
    align-items: flex-start;
    width: 720px;
    height: 720px;
    background-color: white;
    border: 50px solid #FF1744;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.content {
    display: flex;
    flex-wrap: wrap;
    height: 720px;
    width: 720px;
}

#cuadro {
    box-sizing: border-box;
    border: 1px solid black;
    user-select: none;
}

#cuadro:hover {
    background-color: var(--cambiarColor);
}

/*Pintar de color negro*/

.colorNegro {
    background-color: black;
}

.colorRojo {
    background-color: red;
}

.colorVerde {
    background-color: green;
}

.colorAzul {
    background-color: blue;
}

/*Separacion del lienzo y las opciones*/

.principal {
    text-align: center;
}

.opciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

/*Boton para borrar todo*/

.btnBorrar {
    background-color: #FF6B6B;
    padding: 20px 40px;
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.btnBorrar:hover {
    background-color: #FF5252;
    transform: scale(1.05);
}

/*Boton del borrador*/

.btnBorrador {
    background-color: #ffffff;
    padding: 20px 40px;
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    border: none;
    border-radius: 15px;
    color: rgb(104, 104, 104);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.btnBorrador:hover {
    background-color: #e4e4e4;
    transform: scale(1.05);
}

/*Boton del color negro*/

.btnNegro {
    background-color: #000000;
    padding: 30px 40px;
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    border: none;
    border-radius: 15px;
    color: rgb(104, 104, 104);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.btnAzul {
    background-color: Blue;
    padding: 30px 40px;
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    border: none;
    border-radius: 15px;
    color: rgb(104, 104, 104);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.btnVerde {
    background-color: Green;
    padding: 30px 40px;
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    border: none;
    border-radius: 15px;
    color: rgb(104, 104, 104);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.btnRojo {
    background-color: red;
    padding: 30px 40px;
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    border: none;
    border-radius: 15px;
    color: rgb(104, 104, 104);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.btnNegro:hover {
    transform: scale(1.05);
}

.btnRojo:hover {
    transform: scale(1.05);
}

.btnVerde:hover {
    transform: scale(1.05);
}

.btnAzul:hover {
    transform: scale(1.05);
}

.texto {
    color: white;
    font-size: 28px;
    font-weight: 600;
}

.btnTamaño {
    background-color: #ffffff;
    padding: 20px 40px;
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    border: none;
    border-radius: 15px;
    color: rgb(104, 104, 104);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    align-self: center;
}

.btnTamaño:hover {
    background-color: #e4e4e4;
    transform: scale(1.05);
}
